.container {
  width: 500px;
  margin: auto;
  margin-top: 40px;
  font-family: Arial;
}

.form-box {
  display: flex;
  flex-direction: column;
}

.form-box label {
  margin-top: 10px;
  font-weight: bold;
}

.form-box input,
.form-box select,
.form-box textarea {
  padding: 8px;
  margin-top: 5px;
}

button {
  margin-top: 20px;
  padding: 10px;
  background: #0b4da2;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #083a7a;
}