/* ===== COMMON STEPPER ===== */

.common-stepper {
  display: flex;
  justify-content: space-between;
  align-items: center;   /* IMPORTANT */
  margin: 20px 0 30px;
  padding: 30px 25px 20px;
  border: 1px solid #d9d9d9;
  background: #f5f5f5;
  position: relative;
}

.common-step {
  text-align: center;
  flex: 1;
  position: relative;
  color: #000;
  font-weight: normal;
}

/* LINE BETWEEN STEPS */
.common-step:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 17px;           /* exact center of 35px circle */
  left: 50%;
  width: 100%;
  height: 2px;
  background: #cfcfcf;
  z-index: 0;
}

/* CIRCLE */
.common-step .circle {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 2px solid #ccc;
  margin: 0 auto 8px;
  line-height: 32px;
  background: #fff;
  position: relative;
  z-index: 2;   /* circle above line */
}

.common-step.completed .circle,
.common-step.active .circle {
  background: #4caf50;
  color: #fff;
  border-color: #4caf50;
}