body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* PAGE BG */
/* .otplogin-page-bg {
  background: #f1f1f1;
  padding: 25px 0 60px;
   min-height: 100vh;
   
} */
.otplogin-page-bg {
  background: #f1f1f1;
  padding: 25px 0 8px;
   min-height: auto;
   
}
.otplogin-outer-frame {
  max-width: 1000px;
}

/* OUTER FRAME (ONLY ONE BORDER – LIKE GOV SITE) */
.otplogin-outer-frame {
  max-width: 1150px;
  margin: auto;
  background: #fff;
  border: 1px solid #d5d5d5;
   min-height: calc(100vh - 180px);
}

/* BREADCRUMB */
.otplogin-breadcrumb-bar {
  background: #1e88e5;
}

.otplogin-breadcrumb-inner {
  padding: 14px 18px;
  font-size: 14px;
  color: #fff;
}



.otplogin-breadcrumb-inner .active {
  color: #fff;
  font-weight: bold;
}

/* WHITE CONTENT */
.otplogin-otp-container {
  padding: 40px 40px 60px;
  flex: 1;   
}

/* FORM */
.otplogin-form-group {
  width: 420px;
  margin: 0 auto 30px;
}

.otplogin-form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 6px;
}

.otplogin-form-group input {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #cfcfcf;
}

/* PAN + BUTTON */
.otplogin-pan-row {
  display: flex;
  gap: 15px;
  align-items: center;
}

/* BUTTON */
.otplogin-otp-btn {
  background: #0b5ed7;
  color: #fff;
  border: none;
  padding: 10px 22px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 15px;
}

.otplogin-otp-btn:hover {
  background: #084298;
}

/* OTP INFO */
.otplogin-otp-info {
  width: 420px;
  margin: 5px auto 0;
  font-size: 14px;
}

/* REQUIRED */
.otplogin-required {
  color: red;
}

/* POPUP */
.otplogin-popup-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.otplogin-popup-box {
  background: #fff;
  padding: 25px 35px;
  border-radius: 6px;
  text-align: center;
  width: 300px;
}

.otplogin-popup-box button {
  background: #0b5ed7;
  color: #fff;
  border: none;
  padding: 8px 18px;
  border-radius: 4px;
  cursor: pointer;
}
/* FORCE STRAIGHT CORNERS EVERYWHERE */
/* BREADCRUMB TEXT */
/* HOME – yellow + underline */
.otplogin-bc-link {
  color: #ffeb3b;                 /* YELLOW */
  text-decoration: none;
  font-weight: normal;
  border-bottom: 1px solid #ffeb3b;
  padding-bottom: 1px;
}

/* OTHER breadcrumb text – white */
.otplogin-bc-text {
  color: #ffffff;
  font-weight: normal;
}

/* LOGIN – active page */
.otplogin-bc-active {
  color: #ffffff;
  font-weight: bold;
  text-decoration: underline;
}